.thumb {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: underline;
}

.bg-red {
    background-color: rgb(27, 88, 255);
}

.bg-pink {
    background-color: rgb(72, 110, 235);
}

.bg-lpink {
    background-color: rgb(176, 186, 231)
}

.card {
    border-radius: 0.5em;
}

img {
    border-radius: 0;
}

img {
    border-radius: 1em;
}

.card img {
    border-radius: 0.5em 0.5em 0 0;
}


.desc {
    margin: 1em;
}